<div class="element-bg-img"><img [src]="headerImage" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a href="#">Hotel</a></li>
      <li><a href="#">Fishing</a></li>
      <li><a href="#">Tours</a></li>
      <li class="anc-bor"><a href="#">Weather</a></li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <place-item
          *ngFor="let placeItem of places; let i = index; trackBy: i"
          [changeArticle]="changeArticle"
          [placeItem]="placeItem"
          [isSelected]="i === selected"
          [orderIndex]="i"
        ></place-item>
      </div>
    </div>
  </div>
</div>
